body {
	font-family: 'Open Sans', sans-serif;
	/*filter: invert(100%);*/
}
.jumbotron {
	color: white;
	/*background-image: linear-gradient(to bottom, #3498db 0, #3498db 100%);*/
	background-color: #2196F3;
}
.jumbotron h1 {
	font-size: 42px;
	/*color: #337ab7;*/
	font-weight: 600;
}
.thumbnail {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
    border: none;
    border-radius: 0; /*none*/
    padding: 0px; /*5*/
}
.thumbnail:hover {
  /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 10px 24px #9ecaed, 0 8px 8px #9ecaed;
  border: none;
  border-radius: none;
}
.thumbnail-small {
    box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
    border: none;
    border-radius: none;
    padding: 0px; /*3*/
}
.thumbnail-small:hover {
  box-shadow: 0 7px 10px #9ecaed, 0 5px 5px #9ecaed;
  border: none;
  border-radius: none;
}
.thumbnail-smaller {
    box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
    border: none;
    border-radius: none;
    padding: 0px; /*2*/
    max-width: 45px;
    margin: 0 auto;
}
.thumbnail-smaller:hover {
  box-shadow: 0 7px 10px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
  border: none;
  border-radius: none;
}
.thumbnail-clicked {
	background-color: #2196F3;
	padding: 5px;
	box-shadow: 0 10px 24px #9ecaed, 0 5px 5px #9ecaed;
}
.thumbnail-clicked:hover {
	box-shadow: 0 10px 24px #9ecaed, 0 5px 5px #2196F3;
}
.thumbnail-result {
	background-color: inherit; /*prevents result thumbnail from being clicked*/
}
.error-metric {
	text-align: center;
	font-size: 19px;
}
.error-metric:hover {
	text-decoration: initial;
}
.vspace-large {
	height: 100px;
}
.vspace-medium {
	height: 50px;
}
.vspace-small {
	height: 15px;
}
.vspace-result {
	height: 30px;
}
.display-inline-block {
	display: inline-block;
}
.hyperparameter {
	font-weight: 300;
	font-size: 26px;
	color: #7f8c8d;
}
.hyperparameter-result {
	font-weight: 300;
	font-size: 26px;
	color: #7f8c8d;
}
.hyperparameter-title {
	margin-top: 0px;
}
.jumbotron {
	padding-top: 20px;
	padding-bottom: 20px;
}
.draw-button-wrapper {
	border-left: solid #dddddd 1px;
}
hr {
  border-top: 1px solid #dddddd;
}
h2 {
	font-weight: 300;
	font-size: 30px; /*prevents "Select Hyperparameters" from line breaking*/
	/*color: #dddddd;*/
}
h3 {
	margin-top: 10px;
	/*font-size: 24px;*/
	/*font-weight: 300;*/
}
img {
	/*border: 1px solid #dddddd;*/
}

/*.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {

  background-color: #A6A8C1;
  border-color: #31347B;
 }

.btn
{
  background-color: #9F418F;
  border-color: #9F418F;
}*/

/*.btn-primary {
	background-color: red;
	border-color: yellow;
}
.btn-primary:hover {
	background-color: green;
	border-color: black;
}
.btn-primary.active {
	background-color: pink;
}
.btn-primary.active:hover {
	background-color: orange;
}
.btn-primary.active.focus:hover {
	background-color: black;
}
.btn-primary.active.focus {
	background-color: white;
}
.btn-primary.focus {
	background-color: gray;
}
.btn-primary.focus {
	background-color: red;
}

.btn {
	background-color: red;
	border-color: yellow;
}
.btn:hover {
	background-color: green;
	border-color: black;
}
.btn.active {
	background-color: pink;
}
.btn.active:hover {
	background-color: orange;
}
.btn.active.focus:hover {
	background-color: black;
}
.btn.active.focus {
	background-color: white;
}
.btn.focus {
	background-color: gray;
}
.btn.focus {
	background-color: red;
}*/

.circle {
  background: #2196F3;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em; 
  font-size:24px;
}
.footer {
	padding-bottom: 0px;
	margin-bottom: 0px;
	background-image: none;
	background-color: #dddddd;
}
/*#info {
	font-size: 18px;
}*/
p {
	font-size: 19px;
}
.result-row-height {
	line-height: 50px;
	margin-bottom: 10px;
}
.result-title:after {
    content: '';
    display: inline-block;
    height: 1px;
    background: #dddddd;
    width: 89%;
    float: right;
    margin-top: 15px;
    margin-bottom: 35px;
}
.model-title:after {
    content: '';
    display: inline-block;
    height: 1px;
    background: #dddddd;
    width: 81%;
    float: right;
    margin-top: 15px;
    margin-bottom: 35px;
}
.btn {
	font-size: 19px;
	font-weight: 400;
}
#scroll-to-top {
	visibility: hidden;
}