<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Deep Shape Explorer</title>

  <!-- Bootstrap -->
  <link href="static/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/css/deep.css" rel="stylesheet">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>

    <body>
      <div class="jumbotron">
        <div class="container">
          <h1>Illustrating Conceptual Semantics with Deep Learning</h1>
          <h3>Codename: <b><i>DeepShape</i></b></h3>
          <!-- <p>Fred Hohman, Nathan Hodas, Polo Chau</p> -->
        </div>
      </div>

      <div class="container">

        <div class="row">
          <div class="col-md-12">
            <!-- <h2>Title here?</h2> -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pretium lacus in arcu maximus facilisis. Nulla elementum urna mi, a aliquet augue dapibus et. Sed varius accumsan ex, quis sollicitudin velit sagittis a. Sed fringilla elit sed dui sollicitudin pharetra. Vivamus in vulputate nulla, vitae volutpat nisl. Maecenas sagittis auctor eros, vitae dictum lorem sodales ac. Suspendisse interdum, sem eu ultricies accumsan, risus justo molestie risus, eget dictum mi metus eget nunc. Fusce cursus feugiat orci, eget ullamcorper ante venenatis ut. In ac lectus dolor. Vivamus vel tristique diam.
            </p>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <h2><span class="circle">1</span> Select Training Data</h2>
            <!-- <div class="vspace-small"></div> -->
          </div>
        </div>

        <div class="row">
         <div class="col-md-6" style="padding: 0px;">
           <div class="col-md-6" style="padding: 0px;">

            <div class="col-xs-3 col-md-6">
              <a id="tdata0" href="#" class="thumbnail">
                <img src="static/images/box.png" alt="...">
              </a>
            </div>
            <div class="col-xs-3 col-md-6">
              <a id="tdata1" href="#" class="thumbnail">
                <img src="static/images/box_hollow.png" alt="...">
              </a>
            </div>

          </div>
          <div class="col-md-6" style="padding: 0px;">

            <div class="col-xs-3 col-md-6">
              <a id="tdata2" href="#" class="thumbnail">
                <img src="static/images/line.png" alt="...">
              </a>
            </div>
            <div class="col-xs-3 col-md-6">
              <a id="tdata3" href="#" class="thumbnail">
                <img src="static/images/line_horizontal.png" alt="...">
              </a>
            </div>
          </div>
        </div>


        <div class="col-md-6" style="padding: 0px;">
         <div class="col-md-6" style="padding: 0px;">

          <div class="col-xs-3 col-md-6">
            <a id="tdata4" href="#" class="thumbnail">
              <img src="static/images/circle.png" alt="...">
            </a>
          </div>
          <div class="col-xs-3 col-md-6">
            <a id="tdata5" href="#" class="thumbnail">
              <img src="static/images/circle_hollow.png" alt="...">
            </a>
          </div>

        </div>
        <div class="col-md-6" style="padding: 0px;">

          <div class="col-xs-3 col-md-6">
            <a id="tdata6" href="#" class="thumbnail">
              <img src="static/images/tri.png" alt="...">
            </a>
          </div>
          <div class="col-xs-3 col-md-6">
            <a id="tdata7" href="#" class="thumbnail">
              <img src="static/images/tri_hollow.png" alt="...">
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
     <div class="col-md-6" style="padding: 0px;">
       <div class="col-md-6" style="padding: 0px;">

        <div class="col-xs-3 col-md-6">
          <a id="tdata8" href="#" class="thumbnail">
            <img src="static/images/tl.png" alt="...">
          </a>
        </div>
        <div class="col-xs-3 col-md-6">
          <a id="tdata9" href="#" class="thumbnail">
            <img src="static/images/br.png" alt="...">
          </a>
        </div>

      </div>
      <div class="col-md-6" style="padding: 0px;">

        <div class="col-xs-3 col-md-6">
          <a id="tdata10" href="#" class="thumbnail">
            <img src="static/images/line_tl.png" alt="...">
          </a>
        </div>
        <div class="col-xs-3 col-md-6">
          <a id="tdata11" href="#" class="thumbnail">
            <img src="static/images/line_br.png" alt="...">
          </a>
        </div>
      </div>
    </div>


    <div class="col-md-6" style="padding: 0px;">
     <div class="col-md-6" style="padding: 0px;">

      <div class="col-xs-3 col-md-6">
        <a id="tdata12" href="#" class="thumbnail">
          <img src="static/images/circle_tl.png" alt="...">
        </a>
      </div>
      <div class="col-xs-3 col-md-6">
        <a id="tdata13" href="#" class="thumbnail">
          <img src="static/images/circle_br.png" alt="...">
        </a>
      </div>

    </div>
    <div class="col-md-6" style="padding: 0px;">

      <div class="col-xs-3 col-md-6">
        <a id="tdata14" href="#" class="thumbnail">
          <img src="static/images/tri_tl.png" alt="...">
        </a>
      </div>
      <div class="col-xs-3 col-md-6">
        <a id="tdata15" href="#" class="thumbnail">
          <img src="static/images/tri_br.png" alt="...">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
 <div class="col-md-6" style="padding: 0px;">
   <div class="col-md-6" style="padding: 0px;">

    <div class="col-xs-3 col-md-6">
      <a id="tdata16" href="#" class="thumbnail">
        <img src="static/images/noise.png" alt="...">
      </a>
    </div>
    <div class="col-xs-3 col-md-6">
      <a id="tdata17" href="#" class="thumbnail">
        <img src="static/images/noise_blur.png" alt="...">
      </a>
    </div>

  </div>
</div>

</div>

<div class="row vspace-medium"></div>

<div class="row">
  <div class="col-md-5">
    <h2 class="hyperparameter-title"><span class="circle">2</span> Select Hyperparameters</h2>

    <div class="hyperparameter display-inline-block">Initial Image</div>
    <div class="row vspace-small"></div>
    <div class="row">

        <div class="col-xs-3 col-md-3">
          <a id="iimage0" href="#" class="thumbnail thumbnail-small">
            <img src="static/images/zeros.png" alt="...">
          </a>
        </div>
        <div class="col-xs-3 col-md-3">
          <a id="iimage1" href="#" class="thumbnail thumbnail-small">
            <img src="static/images/ones.png" alt="...">
          </a>
        </div>
        <div class="col-xs-3 col-md-3">
          <a id="iimage2" href="#" class="thumbnail thumbnail-small">
            <img src="static/images/noise.png" alt="...">
          </a>
        </div>
        <div class="col-xs-3 col-md-3">
          <a id="iimage3" href="#" class="thumbnail thumbnail-small">
            <img src="static/images/noise_blur.png" alt="...">
          </a>
        </div>
    </div>
  </div>

  <div class="col-md-2">
    <h2 class="hyperparameter-title" style="visibility: hidden; ">Hidden</h2>
    <div class="hyperparameter display-inline-block">Step-size</div>
    <div class="row vspace-small"></div>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary active">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> 0.005
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="options" id="option2" autocomplete="off"> 0.05
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="options" id="option3" autocomplete="off"> 0.5
      </label>
    </div>


  </div>

  <div class="col-md-4 draw-button-wrapper">
    <h2 class="hyperparameter-title"><span class="circle">3</span> Train and Draw</h2>
    <p>
      <b>Train</b> a neural network image classifier.
      <br>
      <b>Draw</b> each class by maximizing each output.
    </p>
    <p><a id="train-and-draw" class="btn btn-primary btn-lg" href="#" role="button">Train and Draw</a></p>

  </div>

</div>
<div class="row vspace-small"></div>


<div class="row">
  <hr>
</div>


<div id="results" class="row">
  <div class="col-md-12">
    <h2>Results</h2>
  </div>

  <div class="row">
    <!-- <div class="col-md-1 display-inline-block"> -->
    <h3 style="float: left">[1]:</h3> <!-- this is hacky and breaks on mobile, fix at some point -->
    <!-- </div> -->
    <div class="col-md-1 display-inline-block">
      <!-- <div class="col-xs-3 col-md-6"> -->
      <a href="#" class="thumbnail thumbnail-small thumbnail-result" style="max-width: 60px;">
        <img src="static/images/noise.png" alt="...">
      </a>
      <!-- </div> -->
    </div>
    <div class="col-md-3 display-inline-block">
      <p class="hyperparameter">Step-size</p>
      <p class="hyperparameter">0.005</p>
    </div>
  </div>

<div class="row">
 <div class="col-md-6" style="padding: 0px;">
   <div class="col-md-6" style="padding: 0px;">

    <div class="col-xs-3 col-md-6">
      <a href="#" class="thumbnail thumbnail-result">
        <img src="static/images/placeholder.svg" alt="...">
        <div class="caption error-metric">0.89</div>
      </a>
    </div>
    <div class="col-xs-3 col-md-6">
      <a href="#" class="thumbnail thumbnail-result">
        <img src="static/images/placeholder.svg" alt="...">
        <div class="caption error-metric">0.89</div>

      </a>
    </div>

  </div>
  <div class="col-md-6" style="padding: 0px;">

    <div class="col-xs-3 col-md-6">
      <a href="#" class="thumbnail thumbnail-result">
        <img src="static/images/placeholder.svg" alt="...">
        <div class="caption error-metric">0.89</div>

      </a>
    </div>
    <div class="col-xs-3 col-md-6">
      <a href="#" class="thumbnail thumbnail-result">
        <img src="static/images/placeholder.svg" alt="...">
        <div class="caption error-metric">0.89</div>

      </a>
    </div>
  </div>
</div>


<div class="col-md-6" style="padding: 0px;">
 <div class="col-md-6" style="padding: 0px;">

  <div class="col-xs-3 col-md-6">
    <a href="#" class="thumbnail thumbnail-result">
      <img src="static/images/placeholder.svg" alt="...">
      <div class="caption error-metric">0.89</div>
    </a>
  </div>
  <div class="col-xs-3 col-md-6">
    <a href="#" class="thumbnail thumbnail-result">
      <img src="static/images/placeholder.svg" alt="...">
      <div class="caption error-metric">0.89</div>

    </a>
  </div>

</div>
<div class="col-md-6" style="padding: 0px;">

  <div class="col-xs-3 col-md-6">
    <a href="#" class="thumbnail thumbnail-result">
      <img src="static/images/placeholder.svg" alt="...">
      <div class="caption error-metric">0.89</div>

    </a>
  </div>
  <div class="col-xs-3 col-md-6">
    <a href="#" class="thumbnail thumbnail-result">
      <img src="static/images/placeholder.svg" alt="...">
      <div class="caption error-metric">0.89</div>

    </a>
  </div>
</div>
</div>
</div>


<div class="row vspace-large"></div>
</div>

<!-- <div class="jumbotron footer">
  <div class="container">
    <p>Fred Hohman, Nathan Hodas, Polo Chau</p>
  </div>
</div> -->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="static/js/bootstrap.min.js"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="static/js/deep.js"></script>
</body>
</html>